@use './global' as *;

#portfolio {
  background-color: $foreground;
  display: flex;
  flex-direction: column;
  width: 100%;

  h2 {
    color: $text;
    margin: 0 auto;
  }

  #showcase {
    // height: 50%;
    width: 70%;
    margin: 10px auto;
    margin-bottom: 35px;
    // background-color: $background;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;    
    
    .project {
      max-height: 250px;
      max-width: 375px;
      margin: 20px auto;
      background-color: $background;
      border-top: 10px solid $primary;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      text-decoration: none;

      .thumbnail {
        background-position: center;
        background-size: 375px;
        background-repeat: no-repeat;
        height: 200px;
        width: 375px;
      }
      #label {
        display: flex;
        justify-content: space-between;
        margin: auto 10px;
        
        p {
          margin: auto 0;
          // margin-left: 15px;
          font-size: 20px;
          color: $text;
          // color: #15181b;
          bottom: 0%;
        }
        .flairs {
          display: flex;
          
          .flair {
            // margin: auto 0;
            margin: 5px;
            padding: 2px 5px;
            height: 25px;
            background-color: $secondary;
            border-radius: 5px;
            display: flex;

            p {
              text-align: center;
              font-size: 16px;
              color: white;
              margin: auto;
            }
          }
        } 
      }
    }
  }
}