* {
  color: #D3D7CF;
}

#main {
  width: 100%;
  height: 100vh;
  display: flex;
}
#main .container {
  display: flex;
  width: 80%;
  height: 80%;
  margin: auto;
}
#main .container .branding {
  width: 75%;
  padding-left: 75px;
}
#main .container .branding h1 {
  margin: 0;
  color: #23d18b;
  font-size: 70px;
}
#main .container .branding h2 {
  color: #D3D7CF;
  margin: 0;
  font-size: 35px;
}
#main .container .branding p {
  color: #5b626f;
  font-size: 25px;
}
#main .container .branding h3 {
  display: inline-block;
  font-size: 25px;
  padding: 10px;
  color: #23d18b;
  border: 1px solid #23d18b;
  border-radius: 3px;
}
#main .container .branding h3:hover {
  border: 1px solid #29ffa9;
  color: #29ffa9;
  cursor: pointer;
}
#main .container .code {
  min-width: 325px;
  height: 100%;
}
#main .container .code p {
  margin: 0;
  color: #D3D7CF;
}
#main .container .code .text {
  color: #D3D7CF;
}
#main .container .code .key {
  color: #23d18b;
}
#main .container .code .value {
  color: #3B8EEA;
}
#main .container .code h3 {
  color: #23d18b;
}

nav {
  position: fixed;
  background-color: #282c34;
  box-shadow: 2px 0 15px 0px #181818;
  width: 95px;
  height: 100%;
}
nav ul {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}
nav ul li {
  margin: 0;
}
nav ul li img {
  width: 50px;
  color: blue;
  height: 50px;
}
nav ul li img svg:hover {
  fill: white;
}
nav ul li img:hover {
  fill: white;
}

#portfolio {
  background-color: #21252b;
  display: flex;
  flex-direction: column;
  padding: 25px;
}
#portfolio h2 {
  color: #D3D7CF;
  margin: 0 auto;
}
#portfolio #showcase {
  width: 85%;
  margin: 10px auto;
  margin-bottom: 35px;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
}
#portfolio #showcase .project {
  height: 250px;
  margin: 20px auto;
  background-color: #282c34;
  border-top: 10px solid #23d18b;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
#portfolio #showcase .project .thumbnail {
  background-position: center;
  background-size: 375px;
  background-repeat: no-repeat;
  height: 200px;
  width: 375px;
}
#portfolio #showcase .project #label {
  display: flex;
  justify-content: space-between;
  margin: auto 10px;
}
#portfolio #showcase .project #label p {
  margin: auto 0;
  font-size: 25px;
  color: #D3D7CF;
  bottom: 0%;
}
#portfolio #showcase .project #label .flairs {
  display: flex;
}
#portfolio #showcase .project #label .flairs .flair {
  margin: 5px;
  padding: 2px 5px;
  height: 25px;
  background-color: #3B8EEA;
  border-radius: 5px;
  display: flex;
}
#portfolio #showcase .project #label .flairs .flair p {
  text-align: center;
  font-size: 16px;
  color: white;
  margin: auto;
}

#contact {
  height: 500px;
  width: 100%;
  background-color: #282c34;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#contact h2 {
  margin: 30px 0 0;
}
#contact form {
  margin: 20px;
  height: 400px;
  width: 700px;
  display: flex;
  flex-direction: column;
}
#contact form .form-group {
  display: flex;
  justify-content: space-between;
}
#contact form .form-group input {
  width: 100%;
}
#contact form input, #contact form textarea, #contact form button {
  background-color: #21252b;
  border: none;
  border-radius: 5px;
  height: 50px;
  margin: 10px;
  font-size: 20px;
  text-indent: 5px;
}
#contact form textarea {
  height: 125px;
}
#contact form button {
  color: #23d18b;
  border: 1px solid #23d18b;
}
#contact form button:hover {
  border: 1px solid #222926;
  color: #29ffa9;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
